@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-7">
				<div class="intro-wrap">
					<h1 class="mb-5"><span class="d-block">Give Your Pets</span> The Best <span class="typed-words"></span></h1>

					<div class="row">
						<div class="col-12">
							<form class="form">
								<div class="row mb-2">
									<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
										<select name="" id="" class="form-control custom-select">
											<option value="">狗狗基本高級房</option>
											<option value="">狗狗進階升級房</option>
											<option value="">狗狗尊享VIP房</option>
											<option value="">貓咪登高望遠房</option>
											<option value="">貓咪更上一層樓房</option>>
										</select>
									</div>
									<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-5">
										<input type="text" class="form-control" name="daterange">
									</div>
									<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
										<input type="text" class="form-control" placeholder="# of Pets">
									</div>

								</div>
								<div class="row align-items-center">
									<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
										<a class="btn btn-primary btn-block" href="">馬上預約</a>
									</div>
									<div class="col-lg-8">
										<label class="control control--checkbox mt-3">
											<span class="caption">Save this search</span>
											<input type="checkbox" checked="checked" />
											<div class="control__indicator"></div>
										</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="slides">
					<img src="~/images/1.jpg" alt="image" class="img-fluid active" />
					<img src="~/images/2.jpg" alt="image" class="img-fluid active" />
					<img src="~/images/3.jpg" alt="image" class="img-fluid active" />					
					<img src="~/images/5.jpg" alt="image" class="img-fluid active" />
				</div>
			</div>
		</div>
	</div>
</div>


<div class="untree_co-section">
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-lg-6 text-center">
				<h2 class="section-title text-center mb-3">Pets Heaven 寵物 · 日安</h2>
				<p>寵物 · 日安 — 複合式寵物頂級度假中心。</p>
				<p>在這裡您的毛孩子們將享有最Chill的度假生活，您想得到的呵護All in Pets Heaven</p>
			</div>
		</div>
		<div class="row align-items-stretch">
			<div class="col-lg-4 order-lg-1">
				<div class="h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('images/1.jpg');"></div></div></div>
			</div>

			<div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1">

				<div class="feature-1 d-md-flex">
					<div class="align-self-center">
						<span class="flaticon-house display-4 text-primary"></span>
						<h3>頂級的住宿服務</h3>
						<p class="mb-0">多種貓狗高級房型，搭配不同寵物需求提供高級到尊榮的住宿服務。</p>
					</div>
				</div>

				<div class="feature-1 ">
					<div class="align-self-center">
						<span class="flaticon-restaurant display-4 text-primary"></span>
						<h3>從內到外的極致呵護</h3>
						<p class="mb-0">不僅住宿時享有高等級服務，在我們的電商您可以找到毛孩最愛的各類美味食品、用品及保健產品。</p>
					</div>
				</div>

			</div>

			<div class="col-6 col-sm-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3">

				<div class="feature-1 d-md-flex">
					<div class="align-self-center">
						<!-- <span class="flaticon-mail display-4 text-primary"></span> -->
						<img src="~/images/hand-cream (1).png" />
						<h3>法式高級沙龍</h3>
						<p class="mb-0">從基礎的護理保養到全方位美容的按摩精油浴，給毛孩最頂級的美容體驗。</p>
					</div>
				</div>

				<div class="feature-1 d-md-flex">
					<div class="align-self-center">
						<span class="flaticon-phone-call display-4 text-primary"></span>
						<h3>隨時聯繫關注毛孩狀況</h3>
						<p class="mb-0">出門在外不放心毛孩的狀況嗎？這裡提供您家寶貝實時狀況不漏接。</p>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<div class="untree_co-section count-numbers py-5">
	<div class="container">
		<div class="row">
			<div class="col-6 col-sm-6 col-md-6 col-lg-3">
				<div class="counter-wrap">
					<div class="counter">
						<span class="" data-number="2567">0</span>
					</div>
					<span class="caption">我們服務過的寵物</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3">
				<div class="counter-wrap">
					<div class="counter">
						<span class="" data-number="3247">0</span>
					</div>
					<span class="caption">我們的會員們</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3">
				<div class="counter-wrap">
					<div class="counter">
						<span class="" data-number="120">0</span>
					</div>
					<span class="caption">我們的寵物照護團隊</span>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3">
				<div class="counter-wrap">
					<div class="counter">
						<span class="" data-number="365">0</span>
					</div>
					<span class="caption">全年無休的貼心服務</span>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="untree_co-section">
	<div class="container">
		<div class="row text-center justify-content-center mb-5">
			<div class="col-lg-7"><h2 class="section-title text-center">給您最尊榮高級的美容服務</h2></div>
		</div>

		<div class="owl-carousel owl-3-slider">

			<div class="item">
				<a class="media-thumb" href="~/images/Dog-b5.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>狗狗深層皮膚檢測服務</h3>
						<span class="location">皮膚病以及寄生蟲檢查，針對膚質給予合適的美容保養</span>
					</div>
					<img src="~/images/Dog-b5.jpg" alt="Image" class="img-fluid">
				</a>
			</div>

			<div class="item">
				<a class="media-thumb" href="~/images/Dog-b2.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>狗狗高級精油SPA</h3>
						<span class="location">讓平時愛活蹦亂跳的狗狗來做個SPA，特別針對常用肌群進行運動放鬆按摩</span>
					</div>
					<img src="~/images/Dog-b2.jpg" alt="Image" class="img-fluid">
				</a>
			</div>

			<div class="item">
				<a class="media-thumb" href="~/images/Cat-b1.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>貓咪深層皮膚檢測服務</h3>
						<span class="location">皮膚病以及寄生蟲檢查，針對膚質給予合適的美容保養</span>
					</div>
					<img src="~/images/Cat-b1.jpg" alt="Image" class="img-fluid">
				</a>
			</div>


			<div class="item">
				<a class="media-thumb" href="~/images/Cat-b2.jpg" data-fancybox="gallery">
					<div class="media-text">
						<h3>貓咪高級美容藥浴</h3>
						<span class="location">高級的藥草浴加上舒壓按摩，回家後讓貓咪一夜好眠</span>
					</div>
					<img src="~/images/Cat-b2.jpg" alt="Image" class="img-fluid">
				</a>
			</div>


		</div>

	</div>
</div>


<div class="untree_co-section">
	<div class="container">
		<div class="row justify-content-center text-center mb-5">
			<div class="col-lg-6">
				<h2 class="section-title text-center mb-3">旅館房型與價位</h2>
				<p>針對不同寵物與需求提供不同種類的房型，我們的房間設計注重狗狗的活動空間與貓咪攀爬的高度，同時兼顧安全與舒適，讓您安心的將寵物交付日安。</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="media-1">
					<a href="#" class="d-block mb-3"><img src="images/1.jpg" alt="Image" class="img-fluid"></a>
					<span class="d-flex align-items-center loc mb-2">
						<span class="icon-room mr-3"></span>
						<span>Italy</span>
					</span>
					<div class="d-flex align-items-center">
						<div>
							<h3><a href="#">Rialto Mountains</a></h3>
							<div class="price ml-auto">
								<span>$520.00</span>
							</div>
						</div>

					</div>

				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="media-1">
					<a href="#" class="d-block mb-3"><img src="images/2.jpg" alt="Image" class="img-fluid"></a>
					<span class="d-flex align-items-center loc mb-2">
						<span class="icon-room mr-3"></span>
						<span>United States</span>
					</span>
					<div class="d-flex align-items-center">
						<div>
							<h3><a href="#">San Francisco</a></h3>
							<div class="price ml-auto">
								<span>$520.00</span>
							</div>
						</div>

					</div>

				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="media-1">
					<a href="#" class="d-block mb-3"><img src="images/3.jpg" alt="Image" class="img-fluid"></a>
					<span class="d-flex align-items-center loc mb-2">
						<span class="icon-room mr-3"></span>
						<span>Malaysia</span>
					</span>
					<div class="d-flex align-items-center">
						<div>
							<h3><a href="#">Perhentian Islands</a></h3>
							<div class="price ml-auto">
								<span>$750.00</span>
							</div>
						</div>

					</div>

				</div>
			</div>
			<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="media-1">
					<a href="#" class="d-block mb-3"><img src="images/5.jpg" alt="Image" class="img-fluid"></a>

					<span class="d-flex align-items-center loc mb-2">
						<span class="icon-room mr-3"></span>
						<span>Switzerland</span>
					</span>

					<div class="d-flex align-items-center">
						<div>
							<h3><a href="#">Lake Thun</a></h3>
							<div class="price ml-auto">
								<span>$520.00</span>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>



<div class="py-5 cta-section">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2 class="mb-2 text-white">Let you Explore the Best. Contact Us Now</h2>
				<p class="mb-4 lead text-white text-white-opacity">有您想要我們還沒有的服務嗎？歡迎來信！</p>
				<p class="mb-0"><a href="booking.html" class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
			</div>
		</div>
	</div>
</div>

