<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
			<div class="position-sticky pt-3 sidebar-sticky">
				<ul class="nav nav-pills flex-column">
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="tab-material" data-toggle="pill" href="#pills-material" role="tab"
						   aria-controls="pills-material" aria-selected="true">個人資料</a>
					</li>					
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="tab-login" data-toggle="pill" href="#pills-order" role="tab"
						   aria-controls="pills-login" aria-selected="false">訂單管理</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="tab-login" data-toggle="pill" href="#pills-pet" role="tab"
						   aria-controls="pills-login" aria-selected="false">寵物資料</a>
					</li>
				</ul>
			</div>
		</nav>

		<main class=" card-body col-md-9 ms-sm-auto col-lg-10 px-md-4">
			<div id="app" class="container tab-content">
				<div class="tab-pane fade show active col stacked-sm " id="pills-material" role="tabpanel" aria-labelledby="tab-material">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">會員資料</h1>
					</div>

					<div class="form-group">
						<label for="name">帳號：</label>
						<input type="text" id="account" class="form-control" v-model="member.account" readonly />
					</div>
					<div class="form-group">
						<label for="name">姓名：</label>
						<input type="text" id="name" class="form-control" v-model="member.name" readonly />
					</div>
					<div class="form-group">
						<label for="email">電子郵件：</label>
						<input type="email" id="email" class="form-control" v-model="member.email" readonly />
					</div>
					<div class="form-group">
						<label for="address">地址：</label>
						<input type="text" id="address" class="form-control" v-model="member.address" readonly />
					</div>
					<div class="form-group">
						<label for="address">生日：</label>
						<input type="datetime" id="address" class="form-control" v-model="member.birthday" readonly />
					</div>
					<button class="btn btn-primary" data-toggle="modal" data-target="#revisememberModal">修改資料</button>
					<button class="btn btn-primary" data-toggle="modal" data-target="#passwordModal">修改密碼</button>
				</div>				
				<div class="tab-pane fade col stacked-sm" id="pills-order" role="tabpanel" aria-labelledby="tab-order">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">訂單管理</h1>
					</div>

					<table class="table app-table-hover mb-0 text-left">

						<thead>
							<tr>								
								<th>日期</th>
								<th>是否已付款</th>
								<th>收貨地址</th>
								<th>查看明細<th>								
								<th>總金額</th>

							</tr>
						</thead>
						<tbody>
							<tr v-for="item in order">								
								<td>{{ item.order.orderdate }}</td>
								<td>{{ item.order.orderstatus }}</td>
								<td>{{ item.order.orderaddress }}</td>
								<td><button class="btn btn-primary" data-toggle="modal" data-target="#detailModal" @@click="detailConfirm(item)">查看</button></td>
								<td></td>							
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade col stacked-sm" id="pills-pet" role="tabpanel" aria-labelledby="tab-pet">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">寵物資料</h1>
					</div>
					<div>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">新增</button>
						
					</div>
					<div>
					<table class="table app-table-hover mb-0 text-left">

						<thead>
							<tr>
								<th>寵物名子</th>
								<th>寵物性別</th>
								<th>寵物生日</th>
								<th>寵物品種</th>
								<th>寵物種類</th>
								<th>操作</th>

							</tr>
						</thead>
						<tbody>
								<tr v-for="item in pet">
									<td>{{item.pet.petName}}</td>
									<td>{{item.pet.petGender}}</td>
									<td>{{item.pet.petBirthday}}</td>
									<td>{{item.pet.petVariety}}</td>
									<td>{{item.pettype.petTypeName}}</td>
									<td>
										<button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal" @@click="editConfirm(item)">修改</button>
										<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" @@click="deleteConfirm(item)">刪除</button>
									</td>

						<!-- 其他訂單相關的列項 -->
								</tr>
						</tbody>
					</table>
					</div>

					<!-- CreatePetModal -->
					<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="createModal">新增寵物資料</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="Name">寵物名子</label>
												<input type="email" class="form-control" id="Name" v-model="createpetInfo.petName">
											</div>
											<div class="form-group col-md-6">
												<label for="type">寵物性別</label>
												<select id="type" class="form-control" v-model="createpetInfo.petGender">
													<option value="0">請選擇...</option>
													<option v-for="item in dronpDownList.petType" :value="item.value">{{item.text}}</option>												
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="Birthday">生日</label>
											<input type="date" class="form-control" id="Birthday" v-model="createpetInfo.petBirthday">
										</div>
										<div class="form-group">
											<label for="Variety">品種</label>
											<input type="text" class="form-control" id="Variety" v-model="createpetInfo.petVariety">
										</div>
										<div class="form-row">											
											<div class="form-group col-md-4">
												<label for="inputState">寵物種類</label>
												<select id="inputState" class="form-control" v-model="createpetInfo.petTypeId">
													<option value="0">請選擇...</option>
													<option v-for="item in dronpDownList.TypeName" :value="item.value">{{item.text}}</option>
												</select>
											</div>											
										</div>
										
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
									<button type="button" class="btn btn-primary" @@click="fetchcreatePet">新增</button>
								</div>
							</div>
						</div>
					</div>

					<!-- editModal -->
					<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="editModal">修改寵物資料</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form>

										<div class="form-row">
											<div class="form-group col-md-6">
												<label for="Name">寵物名子</label>
												<input type="text" class="form-control" id="Name" v-model="editInfo.petName">
											</div>											

											<div class="form-group col-md-6">
												<label for="inputPassword4">寵物性別</label>
												<select id="inputState" class="form-control" v-model="editInfo.petGender">
													<option value="0">請選擇...</option>
													<option v-for="item in dronpDownList.petType" :value="item.value">{{item.text}}</option>
													
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="Birthday">生日</label>
											<input type="date" class="form-control" id="Birthday" v-model="editInfo.petBirthday">
										</div>
										<div class="form-group">
											<label for="Variety">品種</label>
											<input type="text" class="form-control" id="Variety" v-model="editInfo.petVariety">
										</div>
										<div class="form-row">
											<div class="form-group col-md-4">
												<label for="inputState">寵物種類</label>
												<select id="inputState" class="form-control" v-model="editInfo.petTypeId">
													<option value="0">請選擇...</option>
													<option v-for="item in dronpDownList.TypeName" :value="item.value">{{item.text}}</option>
													
												</select>
											</div>
										</div>

									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
									<button type="button" class="btn btn-primary" @@click="editpet">確認修改</button>
								</div>
							</div>
						</div>
					</div>

					<!-- deleteModal -->
					<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">刪除寵物:{{delInfo.title}}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									你確定要刪除寵物:{{delInfo.msg.pet}}，品種:{{delInfo.msg.price}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary" @@click="deletePet(delInfo.title)">確定</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- passwordModal -->
				<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="passwordModal">修改會員資料</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="password">當前密碼密碼</label>
											<input type="password" class="form-control" id="password" v-model="editpasswordInfo.memberPassword">
										</div>
										<div class="form-group col-md-12">
											<label for="newpassword">新密碼</label>
											<input type="password" class="form-control" id="newpassword" v-model="editpasswordInfo.membernewPassword">
										</div>
										<div class="form-group col-md-12">
											<label for="confirmpassword">確認密碼</label>
											<input type="password" class="form-control" id="confirmpassword" v-model="editpasswordInfo.memberconfirmpassword">
										</div>
										


								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary" @@click="editMemberPassword">確認修改</button>
							</div>
						</div>
					</div>
				</div>
				<!-- detailModal -->
				<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="detailModal">訂單明細</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<table class="table app-table-hover mb-0 text-left">
									<thead>
										<tr>
											
											<th>商品名稱</th>
											<th>商品內容</th>
											<th>商品類型</th>
											<th>單價</th>
											<th>數量</th>
										</tr>
									</thead>
										<tbody>											
											<tr v-for="item in detailInfo">
												<td>{{item.detailname}}</td>
												<td>{{item.detailcontent}}</td>
												<td>{{item.detailcatagoryname}}</td>
												<td>{{item.detailunitprice}}</td>
												<td>{{item.detailquantity}}</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- revisememberModal -->
			<div class="modal fade" id="revisememberModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="revisememberModal">修改會員資料</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label for="memberPhone">手機號碼</label>
										<input type="text" class="form-control" id="memberPhone" v-model="editmemberInfo.memberPhone">
									</div>
									<div class="form-group col-md-12">
										<label for="memberEmail">電子郵箱</label>
										<input type="email" class="form-control" id="memberEmail" v-model="editmemberInfo.memberEmail">
									</div>
									<div class="form-group col-md-12">
										<label for="memberAddress">地址</label>
										<input type="text" class="form-control" id="memberAddress" v-model="editmemberInfo.memberAddress">
									</div>

								</div>
								<div class="form-group">
									<label for="memberBirthday">生日</label>
									<input type="date" class="form-control" id="memberBirthday" v-model="editmemberInfo.memberBirthday">
								</div>


							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" @@click="editMember">確認修改</button>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
	var email = "@ViewBag.Email"

	

	let app = new Vue({
		el: '#app',
		data: {
			createpetInfo:{
				petName:"",
				petBirthday:"",
				petGender:"0",
				petVariety:"",
				petTypeId:"0"
			},
			dronpDownList:{
				petType:[],
				TypeName:[]
			},
			member: [],
			order: [],
			detailInfo: [],
			pet: [],
			editmemberInfo: {				
				memberPhone: "",
				memberEmail: "",
				memberAddress: "",
				memberBirthday: "",
			},
			editpasswordInfo: {
				memberPassword: "",
				membernewPassword: "",
				memberconfirmpassword: "",
			},
			editInfo:{
				id:"",
				petName:"",
				petGender:"0",
				petBirthday:"",
				petVariety:"",
				petTypeId:"0",
			},
			delInfo: {
				title: "",
				msg: {
					pet: "",
					price: ""
				}
			},	
			updatamember:[]
		},
		mounted: function () {
			let self = this;
			self.fetchMember();
			self.fetchOrder();
			//self.fetchDetail();
			self.fetchPet();			
			//self.fetchcreatePet();
			axios.get('/api/member/TypeName').then(res => { self.dronpDownList.TypeName = res.data })
			axios.get('/api/member/PetTypeEnum').then(res => { self.dronpDownList.petType = res.data })
		},
		methods: {
			
			fetchMember: function () {
				let self = this;
				var testmember = axios.get('/api/member/GetCurrentMember')
					.then(membercentre => {
						// 獲取會員資訊並將其賦值給組件的 data 屬性
						self.member = membercentre.data;
					})
			},
			editMember: function () {
				let self = this;

				if (self.editmemberInfo.memberPhone == null) alert("請輸入手機")
				if (self.editmemberInfo.memberEmail == null) alert("請輸入電子郵箱")
				if (self.editmemberInfo.memberAddress == null) alert("請輸入地址")
				if (self.editmemberInfo.memberBirthday == null) alert("請輸入生日")

				axios.post('/api/member/editMember', self.editmemberInfo).then(res => {
					if (res.data.status == true) {
						self.editmemberInfo.memberPhone = ""
						self.editmemberInfo.memberEmail = ""
						self.editmemberInfo.memberAddress = ""
						self.editmemberInfo.memberBirthday = ""
						self.pet.unshift(res.data.message)
						alert("修改成功")
						$("#revisememberModal").modal("hide");
					}
					})
			},
			editMemberPassword: function () {
				let self = this;

				axios.post('/api/member/editMemberPassword', self.editpasswordInfo).then(res => {
					if (res.data.status == true) {
						self.editpasswordInfo.memberPhone = ""
						self.editpasswordInfo.memberEmail = ""
						self.editpasswordInfo.memberAddress = ""						
						self.pet.unshift(res.data.message)
						alert("修改密碼成功")
						$("#passwordModal").modal("hide");
					}
				})
			},
			editpet: function () {
				var self = this;
				axios.post('/api/member/edit', self.editInfo).then(res => {
					if (res.data.status == true) {
						self.editInfo.petName = ""
						self.editInfo.petGender = "0"
						self.editInfo.petBirthday = ""
						self.editInfo.petVariety = ""
						self.editInfo.petTypeId = "0"
						self.pet.unshift(res.data.message)
						alert("修改成功")
						$("#editModal").modal("hide");
					}
				})
			},

			fetchOrder: function () {
				let self = this;
				axios.get('/api/member/GetMemberOrder')
					.then(order => {
						// 獲取會員資訊並將其賦值給組件的 data 屬性
						self.order = order.data;
					})				
			},
			//fetchDetail: function () {
			//	let self = this;
			//	axios.get('/api/member/GetMemberOrderDetail').then(res => self.detail = res.data)
			//},
			fetchPet: function () {
				let self = this;
				axios.get('/api/member/GetMemberPet').then(res => self.pet = res.data)
			},
			fetchcreatePet: function () {
				let self = this;
				if (self.createpetInfo.petGender == 0) alert("請選擇性別")
				if (self.createpetInfo.petTypename == 0) alert("請選擇種類")				
				axios.post('/api/member/createPet', self.createpetInfo).then(res => {
					if (res.data.status == true) {
						self.createpetInfo.petName = ""
						self.createpetInfo.petBirthday = ""
						self.createpetInfo.petGender = "0"
						self.createpetInfo.petVariety = ""
						self.createpetInfo.petTypename = "0"						
						self.pet.unshift(res.data.message)
						alert("新增成功")
						$("#createModal").modal("hide");
					}
				});
			},			
			
			deletePet:function(id){
				axios.post('/api/member/deletePet', { Id: id }).then(res => {
					if (res.data) {
						var idx = this.pet.findIndex(x => x.pet.petName == id)
						this.pet.splice(idx, 1)
						$("#deleteModal").modal("hide");
					}
				});
			},
			
			editpet:function(){
				var self=this;
				axios.post('/api/member/edit',self.editInfo).then(res=>{
					if(res.data.status==true){
						self.editInfo.petName = ""
						self.editInfo.petGender = "0"
						self.editInfo.petBirthday = ""
						self.editInfo.petVariety = ""
						self.editInfo.petTypeId = "0"
						self.pet.unshift(res.data.message)
						alert("修改成功")
						$("#editModal").modal("hide");
					}
				})
			},
			detailConfirm: function (item) {
				console.log(item)
				this.detailInfo = item.orderDetail;
				//this.detailInfo.detailname = item.orderDetail.productName;
				//this.detailInfo.detailcontent = item.orderDetail.productContent;
				//this.detailInfo.detailcatagoryname = item.orderDetail.productCatagoryName;
				//this.detailInfo.detailunitprice = item.orderDetail.unitPrice;
				//this.detailInfo.detailquantity = item.orderDetail.quantity;

			},
			editConfirm: function (item) {
				console.log(item)				
				this.editInfo.petName = item.pet.petName;
				this.editInfo.petGender = item.pet.petGender;
				this.editInfo.petBirthday = item.pet.petBirthday;
				this.editInfo.petVariety = item.pet.petVariety;
				this.editInfo.petTypeId = item.pettype.petTypeId;
			},
			deleteConfirm:function(item){
				this.delInfo.title = item.pet.petName;
				this.delInfo.msg.pet = item.pet.petName;
				this.delInfo.msg.price = item.pettype.petTypeId;
			}

			
		}
	});
</script>