<div class="containershop">
	<section class="left">
		<div class="col-xl-3 col-lg-4 col-md-7">
			<div class="sidebar-box-style2">
				<!--Start Single Sidebar style2-->
				<div class="single-sidebar-style2">
					<div class="title">
						<h4>寵物類型</h4>
					</div>
					<ul class="filter-checkbox">
						<li>
							<div class="single-checkbox">
								<input type="checkbox" id="all" checked>
								<label for="all"><span></span>All</label>
							</div>
						</li>
						<li>
							<div class="single-checkbox">
								<input type="checkbox" id="dog">
								<label for="dog"><span></span>Dogs</label>
							</div>
						</li>
						<li>
							<div class="single-checkbox">
								<input type="checkbox" id="cat">
								<label for="cat"><span></span>Cats</label>
							</div>
						</li>
					</ul>

					<div class="title">
						<h4>商品類型</h4>
					</div>
					<ul class="filter-checkbox">
						<li>
							<div class="single-checkbox">
								<input type="checkbox" id="allP" checked>
								<label for="allP"><span></span>All</label>
							</div>
						</li>
						<li>
							<div class="single-checkbox">
								<input type="checkbox" id="food">
								<label for="food"><span></span>Food</label>
							</div>
						</li>
						<li>
							<div class="single-checkbox">
								<input type="checkbox" id="item">
								<label for="item"><span></span>Items</label>
							</div>
						</li>
						<li>
							<div class="single-checkbox">
								<input type="checkbox" id="health">
								<label for="health"><span></span>HealthCare</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--End Single Sidebar style2-->
	</section>
