<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊成功</title>
    <style>
        body {
            background-color: #f4f4f4;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }

        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            color: #777;
            font-size: 16px;
            margin-bottom: 20px;
        }

        .success-icon {
            font-size: 64px;
            color: #39b54a;
            margin-bottom: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

            .btn:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h1 style="padding-top:70px">註冊成功</h1>
    <i class="success-icon fas fa-check-circle"></i>
    <p>感謝您的註冊!您已經註冊成功</p>
    <a asp-action="Login" asp-controller="Member" class="btn">立即登入</a>
</body>
</html>
