<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/saloncss/style.css" rel="stylesheet" />


<div id="app" class="container">
    @*<-----------選項-------------->*@
    <nav class="navbar navbar-expand bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0 ">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav py-0">
                <a class="nav-item nav-link" @@click="Create">新增寵物房型</a>
            </div>
        </div>
    </nav>

    @*<-----------編輯頁面-------------->*@
    <div class="form-group">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th style="width:10%">編輯</th>
                    <th style="width:10%">寵物類型</th>
                    <th style="width:10%">房型名稱</th>
                    <th style="width:10%">房型介紹</th>
                    <th style="width:40%">房型詳情</th>
                    <th style="width:10%">價格</th>
                    <th style="width:10%">房型圖示</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in HotelDTO">
                    <template v-if="item.editHotel === true">
                        <td>
                            <button class="btn btn-success" @@click="Update(item)">確定修改</button>
                            <button class="btn btn-warning" @@click="Cancel">取消修改</button>
                            <input class="form-control" type="file" accept="image/*" @@change="Onfile" />
                        </td>
                        <td>{{item.hotelCatagoryName}}</td>
                        <td><input type="text" v-model="item.hotelName" /></td>
                        <td><input type="text" v-model="item.hotelContent" /></td>
                        <td>
                            <textarea type="text" v-model="item.hotelContentDetail">{{item.hotelContentDetail}}</textarea>
                        </td>
                        <td><input type="number" v-model="item.unitPrice" /></td>
                        <img style="width:200px;height:200px" class="rounded mx-auto d-block" :src="imageUrl" />
                    </template>
                    <template v-else>
                        <td>
                            <button class="btn btn-primary" @@click="Edit(item.hotelId)">編輯</button>
                            <button class="btn btn-primary" @@click="Delete(item.hotelId)">刪除</button>
                        </td>
                        <td>{{item.hotelCatagoryName}}</td>
                        <td>{{item.hotelName}}</td>
                        <td>{{item.hotelContent}}</td>
                        <td>{{item.hotelContentDetail}}</td>
                        <td>{{item.unitPrice}}</td>
                        <td>
                            <img style="width:200px;height:200px" :src="item.hotelImage" />
                        </td>
                    </template>
                </tr>
            </tbody>
        </table>
    </div>

    @*<----------------新增頁面----------------->*@
    <div class="modal fade" id="InsertPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增寵物房型</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">寵物類型</label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" v-model="hotelCatagoryName">
                                <option v-for="item in HotelCatagoryDTO" :key="item.hotelCatagoryId">{{ item.hotelCatagoryName }}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">房型名稱</label>
                            <input type="text" class="form-control" id="recipient-name" v-model="hotelName">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">房型介紹</label>
                            <input type="text" class="form-control" id="recipient-name" v-model="hotelContent">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">房型詳情</label>
                            <textarea class="form-control" id="message-text" v-model="hotelContentDetail"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">價格</label>
                            <input type="number" class="form-control" id="recipient-name" v-model="unitPrice">
                        </div>
                        <div class="mb-3">
                            <label for="formFileDisabled" class="form-label">美容項目圖示</label>
                            <input class="form-control" type="file" accept="image/*" @@change="Onfile" />
                            <img style="width:200px;height:200px" class="rounded mx-auto d-block" :src="imageUrl" />
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @@click="Insert">新增</button>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

    <script>

        let app = new Vue({
            el: "#app",
            data: {
                HotelDTO:[],
                HotelCatagoryDTO:[],
                hotelName:"",
                hotelContent:"",
                hotelContentDetail:"",
                unitPrice:"",
                hotelImage:"",
                hotelId:"",
                HotelIdOld:"",
                hotelCatagoryName:"",
                HotelCatagoryNameOld:"",
                HotelNameOld:"",
                UnitPriceOld:"",
                HotelContentOld:"",
                HotelContentDetailOld:"",
                HotelImageOld:"",
                imageUrl:"",
            },
            mounted: function () {
                let _this = this;
                _this.FilterHotelDTO();
            },
            methods: {
                FilterHotelDTO: function () {
                    let _this = this;
                    axios.get(`/api/HotelEnterprise/GetHotel`).then(response => _this.HotelDTO = response.data)
                },
                Edit: function (HotelId) {
                    let _this = this;
                    var HotelList = [];
                    for (var i = 0; i < _this.HotelDTO.length; i++) {
                        var item = _this.HotelDTO[i];
                        if (HotelId == item.hotelId) {
                            item.editHotel = true;
                            _this.HotelIdOld = item.hotelId;
                            _this.HotelCatagoryNameOld = item.hotelCatagoryName;
                            _this.HotelNameOld = item.hotelName;
                            _this.UnitPriceOld = item.unitPrice;
                            _this.HotelContentOld = item.hotelContent;
                            _this.HotelContentDetailOld = item.hotelContentDetail;
                            _this.HotelImageOld = item.hotelImage;
                            _this.imageUrl = item.hotelImage;
                        }
                        HotelList.push(item);
                    }
                    _this.HotelDTO = HotelList;
                },
                Create: function () {
                    let _this = this;
                        _this.hotelCatagoryName = "",
                        _this.hotelName = "",
                        _this.unitPrice = "",
                        _this.hotelContent = "",
                        _this.hotelContentDetail = "",
                        _this.imageUrl="",
                        axios.get(`/api/HotelEnterprise/InsertHotel`).then(response => _this.HotelCatagoryDTO = response.data);
                    $("#InsertPage").modal('show');
                },
                Update: function (item) {
                    let _this = this;
                    var data = new FormData();
                    data.append("HotelImage", _this.selectedFile);
                    data.append("HotelId", item.hotelId);
                    data.append("HotelCatagoryName", item.hotelCatagoryName);
                    data.append("HotelName", item.hotelName);
                    data.append("UnitPrice", item.unitPrice);
                    data.append("HotelContent", item.hotelContent);
                    data.append("HotelContentDetail", item.hotelContentDetail);
                    axios.put(`/api/HotelEnterprise/UploadImage/${item.hotelId}`, data)
                        .then(response => {
                            alert(response.data);
                            _this.FilterHotelDTO();
                        });
                },
                Cancel: function () {
                    let _this = this;
                    var HotelList = [];
                    for (var i = 0; i < _this.HotelDTO.length; i++) {
                        var item = _this.HotelDTO[i];
                        if (item.editHotel == true) {
                            item.editHotel = false;
                            item.hotelId=_this.HotelIdOld;
                            item.hotelCatagoryName=_this.HotelCatagoryNameOld;
                            item.hotelName=_this.HotelNameOld;
                            item.unitPrice=_this.UnitPriceOld;
                            item.hotelContent=_this.HotelContentOld;
                            item.hotelContentDetail=_this.HotelContentDetailOld;
                            item.hotelImage=_this.HotelImageOld;
                        }
                        HotelList.push(item);
                    }
                    _this.HotelDTO = HotelList;
                },
                Delete: function (hotelId) {
                    let _this = this;
                    var ret = confirm("確定刪除嗎??");
                    if (ret == true) {
                        axios.delete(`/api/HotelEnterprise/DeleteHotel/${hotelId}`).then(response => {
                            alert(response.data);
                            _this.FilterHotelDTO();
                        });
                    }
                },
                Onfile: function (e) {
                    let _this = this;
                    const newFile = e.target.files[0];
                    if (newFile) {
                        _this.selectedFile = newFile;
                        const reader = new FileReader();
                        reader.onload = (event) => {
                            _this.imageUrl = event.target.result;
                        };
                        reader.readAsDataURL(newFile);
                    } else {
                        newFile = null;
                    }
                },
                Insert: function () {
                    let _this = this;
                    if (_this.selectedFile) {
                        var data = new FormData();
                        data.append("HotelImage", _this.selectedFile);
                        data.append("HotelCatagoryName", _this.hotelCatagoryName);
                        data.append("HotelName", _this.hotelName);
                        data.append("UnitPrice", _this.unitPrice);
                        data.append("HotelContent", _this.hotelContent);
                        data.append("HotelContentDetail", _this.hotelContentDetail);
                        axios.post(`/api/HotelEnterprise/CreateHotel`, data)
                            .then(response => {
                                alert(response.data);
                                $("#InsertPage").modal("hide");
                                _this.FilterHotelDTO();
                            }).catch(error => {
                                console.log(error);
                            });
                    }
                },



            }
        })
    </script>
    }