<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>




<div class="form-group" id="app">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>編輯</th>
                <th>美容項目</th>
                <th>美容內容</th>
                <th>美容價錢</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in SalonSolutionDTO">
                <template v-if="item.Edit == true">
                    <td>
                        <button class="btn btn-success" @@click="update(item)">確定修改</button>
                        <button class="btn btn-warning" @@click="cancel">取消修改</button>
                        <input type="file" @@change="onfile(item)" accept="image/*" />
                    </td>
                    <td><input v-model="item.salonCatagoryName" /></td>
                    <td><input v-model="item.salonName" /></td>
                    <td><img style="width:200px;height:200px" v-model="item.salonImagePath" /></td>
                    @*<td><input v-model="item.salonImagePath" /></td>*@
                </template>
                <template v-else>
                    <td>
                        <button class="btn btn-primary" @@click="edit(item.SalonId)">編輯</button>
                        <button class="btn btn-danger" @@click="deleteSalon(item.SalonId)">刪除</button>
                    </td>
                    <td>{{item.salonCatagoryName}}</td>
                    <td>{{item.salonName}}</td>
                    <td><img style="width:200px;height:200px" src="@Url" />
                        {{item.salonImagePath}}</td>
                </template>
            </tr>

        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

<script>
    let app =new Vue({
        el:"#app",
        data:{
            Filter: "",
            SalonSolutionDTO: [],
            SalonSolutionNameold: "",
            SalonSolutionDiscriptionold: "",
            SalonSolutionPriceold:"",


        },
        mounted:function(){
        let _this=this;
            axios.get(`/api/PetSalon/GetPetSalon`).then(response => _this.SalonSolutionDTO = response.data)
        },
        methods:{
            FilterSalonSolutionDTO:function(){
                let _this = this;
                axios.get(`/api/PetSalon/GetPetSalon`).then(response => _this.SalonSolutionDTO = response.data)
            },

            edit: function (SalonId) {
             let _this = this;
                var SalonSolutionList = [];
                for (var i = 0; i < _this.SalonSolutionDTO.length; i++) {
                    var item = _this.SalonSolutionDTO[i];
                    if (SalonId == item.SalonId) {
                  item.Edit = true;
                  _this.SalonId=item.salonId;
                        _this.SalonCatagoryName = item.salonCatagoryName;
                        _this.SalonName = item.salonName;
                        _this.SalonImagePath = item.salonImagePath;

                  //_this.SalonSolutionNameold = item.salonSolutionName;
                  //_this.SalonSolutionDiscriptionold = item.salonSolutionDiscription;
                  //_this.SalonSolutionPriceold = item.salonSolutionPrice
                 }
                 SalonSolutionList.push(item);
             }
                _this.SalonSolutionDTO = SalonSolutionList;
            },
            deleteSalon:function(){},
            update:function(item){
             let _this = this;
             var request = {
             SalonSolutionId: item.salonSolutionId,
             SalonSolutionName: item.salonSolutionName,
             SalonSolutionDiscription: item.salonSolutionDiscription,
             SalonSolutionPrice: item.salonSolutionPrice
             };
                axios.put(`/api/PetSalon/PutPetSalon/${item.salonSolutionId}`, request).then(response => {
                alert(response.data);
                _this.cancel();
                _this.FilterSalonSolutionDTO();
             });
            },
            cancel:function(){},

           onfile:function(item){
               alert(JSON.stringify(item));
               let _this=this;

               }
        }
    })
</script>
