<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/saloncss/style.css" rel="stylesheet" />


<div id="app" class="container">
    @*<-----------選項-------------->*@
    <nav class="navbar navbar-expand bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0 ">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav py-0">
                <a class="nav-item nav-link" @@click="Create">新增美容項目</a>
            </div>
        </div>
    </nav>

    @*<-----------編輯頁面-------------->*@
    <div class="form-group">
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th style="width:10%">編輯</th>
                    <th style="width:10%">寵物種類</th>
                    <th>美容項目</th>
                    <th style="width:10%">美容圖片</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in SalonDTO">
                    <template v-if="item.editSalon === true">
                        <td>
                            <button class="btn btn-success" @@click="Update(item)">確定修改</button>
                            <button class="btn btn-warning" @@click="Cancel">取消修改</button>
                            <input class="form-control" type="file" accept="image/*" @@change="Onfile" />
                        </td>
                        <td>{{item.salonCatagoryName}}</td>
                        <td><input v-model="item.salonName" /></td>
                        <img style="width:200px;height:200px" class="rounded mx-auto d-block" :src="imageUrl" />
                    </template>
                    <template v-else>
                        <td>
                            <button class="btn btn-primary" @@click="Edit(item.salonId)">編輯</button>
                            <button class="btn btn-primary" @@click="Delete(item.salonId)">刪除</button>
                        </td>
                        <td>{{item.salonCatagoryName}}</td>
                        <td>{{item.salonName}}</td>
                        <td>
                            <img style="width:200px;height:200px" :src="GetImageUrl(item.salonImagePath)" />
                        </td>
                    </template>
                </tr>
            </tbody>
        </table>
    </div>

    @*<----------------新增頁面----------------->*@
    <div class="modal fade" id="InsertPage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增美容項目</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">寵物類型</label>
                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" v-model="salonCatagoryName">
                                <option v-for="item in SalonCatagoryDTO" :key="item.salonCatagoryId">{{ item.salonCatagoryName }}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">美容項目</label>
                            <input type="text" class="form-control" id="recipient-name" v-model="salonName">
                        </div>
                        <div class="mb-3">
                            <label for="formFileDisabled" class="form-label">美容項目圖示</label>
                            <input class="form-control" type="file"  accept="image/*" @@change="Onfile" />
                            <img style="width:200px;height:200px" class="rounded mx-auto d-block" :src="imageUrl" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" @@click="Insert">新增</button>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

    <script>

        let app = new Vue({
            el: "#app",
            data: {
                SalonDTO: [],
                SalonCatagoryDTO: [],
                salonName: "",
                salonCatagoryName: "",
                SalonIdOld: "",
                SalonNameOld: "",
                SalonImagePathOld: null,
                imageUrl: null,
                selectedFile: null,
            },
            mounted: function () {
                let _this = this;
                _this.FilterSalonDTO();
            },
            methods: {
                FilterSalonDTO: function () {
                    let _this = this;
                    axios.get(`/api/SalonEnterprise/GetSalon`).then(response => _this.SalonDTO = response.data)
                },
                Edit: function (SalonId) {
                    let _this = this;
                    var SalonList = [];
                    for (var i = 0; i < _this.SalonDTO.length; i++) {
                        var item = _this.SalonDTO[i];
                        if (SalonId == item.salonId) {
                            item.editSalon = true;
                            _this.SalonIdOld = item.salonId;
                            _this.SalonNameOld = item.salonName;
                            _this.SalonImagePathOld = item.salonImagePath;
                            _this.imageUrl = _this.GetImageUrl(item.salonImagePath);
                        }
                        SalonList.push(item);
                    }
                    _this.SalonDTO = SalonList;
                },
                Update: function (item) {
                    let _this = this;
                        var data = new FormData();
                        data.append("SalonImagePath", _this.selectedFile);
                        data.append("SalonId", item.salonId);
                        data.append("SalonName", item.salonName);
                        data.append("SalonCatagoryName", _this.salonCatagoryName);
                        axios.put(`/api/SalonEnterprise/UploadImage/${item.salonId}`, data)
                            .then(response => {
                                alert(response.data);
                                _this.FilterSalonDTO();
                            });
                },
                Cancel: function () {
                    let _this = this;
                    var SalonList = [];
                    for (var i = 0; i < _this.SalonDTO.length; i++) {
                        var item = _this.SalonDTO[i];
                        if (item.editSalon == true) {
                            item.editSalon = false;
                            item.salonId = _this.SalonIdOld;
                            item.salonName = _this.SalonNameOld;
                            item.salonImagePath = _this.SalonImagePathOld;
                        }
                        SalonList.push(item);
                    }
                    _this.SalonDTO = SalonList;
                },
                Create: function () {
                    let _this = this;
                        _this.salonName = "",
                        _this.salonCatagoryName = "",
                        _this.SalonImagePathOld = null,
                        _this.selectedFile=null,
                        _this.imageUrl = null,
                        axios.get(`/api/SalonEnterprise/InsertPageSalon`).then(response => _this.SalonCatagoryDTO = response.data);
                    $("#InsertPage").modal('show');
                },
                Insert: function () {
                    let _this = this;
                    if (_this.selectedFile) {
                        var data = new FormData();
                        data.append("SalonImagePath", _this.selectedFile);
                        data.append("SalonCatagoryName", _this.salonCatagoryName);
                        data.append("SalonName", _this.salonName);
                        axios.post(`/api/SalonEnterprise/CreateSalon`, data)
                            .then(response => {
                                alert(response.data);
                                $("#InsertPage").modal("hide");
                                _this.FilterSalonDTO();
                            }).catch(error => {
                                console.log(error);
                            });
                    }
                },
                Delete: function (salonId) {
                    let _this = this;
                    var ret = confirm("確定刪除嗎??");
                    if (ret == true) {
                        axios.delete(`/api/SalonEnterprise/DeleteSalon/${salonId}`).then(response => {
                            alert(response.data);
                            _this.FilterSalonDTO();
                        });
                    }
                },
                Onfile: function (e) {
                    let _this = this;
                    const newFile = e.target.files[0];
                    if (newFile) {
                        _this.selectedFile = newFile;
                        const reader = new FileReader();
                        reader.onload = (event) => {
                            _this.imageUrl = event.target.result;
                        };
                        reader.readAsDataURL(newFile);  
                    } else {
                        newFile = null;
                    }
                },
                GetImageUrl: function (salonId) {
                    return `data:image/jpg;base64,${salonId}`;
                },


            }
        })
    </script>
    }