<main>
    <!-- banner -->
    <section class="banner_main">
        <div id="myCarousel" class="carousel slide banner1" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="carousel-caption relative">
                            <div class="row d_flex">
                                <div class="col-md-6">
                                    <img class="bann_img" src="https://picsum.photos/500/?random=10" alt="#" />
                                </div>
                                <div class="col-md-6">
                                    <span>01/04</span>
                                    <h1>美容方案1</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
                                    <a class="get_btn" href="Javascript:void(0)" role="button">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption relative">
                            <div class="row d_flex">
                                <div class="col-md-6">
                                    <img class="bann_img" src="https://picsum.photos/500/?random=10" alt="#" />
                                </div>
                                <div class="col-md-6">
                                    <span>02/04</span>
                                    <h1>美容方案2</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
                                    <a class="get_btn" href="Javascript:void(0)" role="button">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption relative">
                            <div class="row d_flex">
                                <div class="col-md-6">
                                    <img class="bann_img" src="https://picsum.photos/500/?random=10" alt="#" />
                                </div>
                                <div class="col-md-6">
                                    <span>03/04</span>
                                    <h1>美容方案3</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
                                    <a class="get_btn" href="Javascript:void(0)" role="button">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption relative">
                            <div class="row d_flex">
                                <div class="col-md-6">
                                    <img class="bann_img" src="https://picsum.photos/500/?random=10" alt="#" />
                                </div>
                                <div class="col-md-6">
                                    <span>04/04</span>
                                    <h1>美容方案4</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
                                    <a class="get_btn" href="Javascript:void(0)" role="button">詳細資訊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!-- end banner -->
    <!-- what we do  -->
    <div class="we_do slin" style="padding:50px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2 style="text-align: center; padding-bottom: 20px;">服務項目</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="we_box">
								<i><img src="~/images/pet-taxi.png" /></i>
                                <h3 class="salontype">溫馨到府接送</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="we_box">
                                <i><img src="~/images/bathtub.png" alt="#" /></i>
                                <h3 class="salontype">寶寶呵護洗淨</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="we_box">
                                <i><img src="~/images/beauty-saloon.png" alt="#" /></i>
                                <h3 class="salontype">精緻造型設計</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="we_box">
                                <i><img src="~/images/pet-care.png" alt="#" /></i>
                                <h3 class="salontype">其他尊榮服務</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- our pricing -->
    <div class="we_do slin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2 style="text-align: center; padding-bottom: 20px;">美容價目表</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="card">
                    <div class="pic">
                        <img src="https://picsum.photos/300/?random=10">
                    </div>
                    <div class="card-body">
                        <div class="pricing_box_ti">
                            <h3> <span>$</span>20<strong>/one Day</strong></h3>
                        </div>
                        <div class="our_pricing">
                            <span>Regular</span>
                            <p>Lorem ipsum dolor sit amet, iscing elit, sed do magna</p>
                        </div>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    </div>
</main>
