<style>
    .Discription {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
    }
</style>

<div id="app">
    <!-- banner -->
    <section class="banner_main">
        <div id="myCarousel" class="carousel slide banner1" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="carousel-caption relative">
                            <div class="row d_flex" v-for="(item, index) in SalonSolutionDTO" v-if="item.salonSolutionId == 1">
                                <div class="col-md-6">
                                    <img style="width:600px;height:500px" src="~/salonimage/dogmaxsalon.jpg" alt="#" />
                                </div>
                                <div class="col-md-6 ">
                                    <h1>{{item.salonSolutionName}}</h1>
                                    <p>{{item.salonSolutionDiscription}}</p>
                                    <button type="button" class="btn btn-outline-danger">查看服務項目</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption relative">
                            <div class="row d_flex" v-for="(item, index) in SalonSolutionDTO" v-if="item.salonSolutionId == 2">
                                <div class="col-md-6">
                                    <img style="width:600px;height:500px" src="~/salonimage/dogminisalon.jpg" alt="#" />
                                </div>
                                <div class="col-md-6">
                                    <h1>{{item.salonSolutionName}}</h1>
                                    <p>{{item.salonSolutionDiscription}}</p>
                                    <button type="button" class="btn btn-outline-danger">查看服務項目</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption relative">
                            <div class="row d_flex" v-for="(item, index) in SalonSolutionDTO" v-if="item.salonSolutionId == 5">
                                <div class="col-md-6">
                                    <img style="width:600px;height:500px" src="~/salonimage/catmaxsalon.jpg" alt="#" />
                                </div>
                                <div class="col-md-6">
                                    <h1>{{item.salonSolutionName}}</h1>
                                    <p>{{item.salonSolutionDiscription}}</p>
                                    <button type="button" class="btn btn-outline-danger">查看服務項目</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption relative">
                            <div class="row d_flex" v-for="(item, index) in SalonSolutionDTO" v-if="item.salonSolutionId == 6">
                                <div class="col-md-6">
                                    <img style="width:600px;height:500px" src="~/salonimage/catminisalon.jpg" alt="#" />
                                </div>
                                <div class="col-md-6">
                                    <h1>{{item.salonSolutionName}}</h1>
                                    <p>{{item.salonSolutionDiscription}}</p>
                                    <button type="button" class="btn btn-outline-danger">查看服務項目</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <svg width="20" height="30" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <svg width="20" height="30" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16" aria-hidden="true">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!-- end banner -->
    <!-- what we do  -->
    <div class="we_do slin" style="padding:50px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2 style="text-align: center; padding-bottom: 20px;">服務項目</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="we_box">
                                <i><img src="~/images/pet-taxi.png" /></i>
                                <h3 class="salontype">溫馨到府接送</h3>
                                <p>Warm pick-up and drop-off</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="we_box">
                                <i><img src="~/images/bathtub.png" alt="#" /></i>
                                <h3 class="salontype">寵物呵護洗淨</h3>
                                <p>Pets are cared for and washed</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="we_box">
                                <i><img src="~/images/beauty-saloon.png" alt="#" /></i>
                                <h3 class="salontype">精緻造型設計</h3>
                                <p>Exquisite styling design</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="we_box">
                                <i><img src="~/images/pet-care.png" alt="#" /></i>
                                <h3 class="salontype">其他尊榮服務</h3>
                                <p>Other honorary services</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- our pricing -->
    <div class="we_do slin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2 style="text-align: center; padding-bottom: 20px;">美容價目表</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6" v-for="item in SalonSolutionDTO">
                    <div class="card">
                        <div class="pic">
                            <img src="https://picsum.photos/300/?random=10">
                        </div>
                        <div class="card-body">
                            <div class="pricing_box_ti">
                                <h3> <span>$</span>{{item.salonSolutionPrice}}<strong>/一次</strong></h3>
                            </div>
                            <div class="our_pricing">
                                <span>{{item.salonSolutionName}}</span>
                                <p class="Discription" :title="item.salonSolutionDiscription">{{item.salonSolutionDiscription}}</p>
                            </div>
                            <a href="#" class="btn btn-primary">預約寵物美容</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                SalonSolutionDTO: [],
            },
            mounted: function () {
                let _this = this;
                axios.get(`/api/SalonClient/GetSalonClient`).then(response => _this.SalonSolutionDTO = response.data)

            },
            methods: {
            },
        })
    </script>
}