@*<h1>完成訂單</h1>*@

@Html.Raw(ViewData["ReceiveObj"])

@Html.Raw(ViewData["TradeInfo"])

@section Styles{
    <style>
    

        .checkmark {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            stroke-width: 2;
            stroke: #28a745;
            fill: none;
            transition: stroke-dashoffset 5s ease-in-out;
        }

        .checkmark-circle {
            stroke-dasharray: 166;
            stroke-dashoffset: 166;
        }

        .checkmark-check {
            stroke-dasharray: 48;
            stroke-dashoffset: 48;
        }

        .checkmark-animate .checkmark-circle {
            stroke-dashoffset: 0;
        }

        .checkmark-animate .checkmark-check {
            stroke-dashoffset: 0;
        }
  </style>
}

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark-circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                        <h4 class="mt-3">訂單完成</h4>
                        <div class="mt-4">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">回到首頁</a>
                            <a asp-controller="Member" asp-action="Index" class="btn btn-secondary">訂單管理頁面</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</body>

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var checkmark = document.querySelector('.checkmark');
            checkmark.classList.add('checkmark-animate');
        });
    </script>
}