@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
@{
    var hotelId = Model;
}

<head>
    <style>
        #DetailPage {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        @@ media (min-width: 1128px) #DetailPage {
            padding-left: 150px;
            padding-right: 150px;
        }
        @@ media (min-width: 744px) #DetailPage{
            padding-left: 80px;
            padding-right: 80px;
        }

        .title{
            font-weight: bold;
        }

    </style>
</head>
<div id="app">
    <p>Hotel ID: @hotelId</p>
    <h1>PetHotelDetailData </h1>
    <table class="table">
        <thead>
            <tr>
                <th>PetHotelId</th>
                <th>HotelCatagoryId</th>
                <th>HotelName</th>
                <th>UnitPrice</th>
                <th>HotelContent</th>
                <th>HotelContentDetail</th>
                <th>HotelImageString</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{HotelData.id}}</td>
                <td>{{HotelData.catagoryID}}</td>
                <td>{{HotelData.hotelName}}</td>
                <td>{{HotelData.unitPrice}}</td>
                <td>{{HotelData.hotelContent}}</td>
                <td>{{HotelData.hotelContentDetail}}</td>
                <td>{{HotelData.hotelImage}}</td>

            </tr>
        </tbody>
    </table>
    <div id="DetailPage">
        <div class="px-4 px-lg-5 mt-3">

            <h3 class="title">{{HotelData.hotelName}}-{{HotelData.hotelContent}}</h3>
            <hr class="solid">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                         class="w-100 shadow-1-strong rounded"
                         alt="Boat on Calm Water" />
                </div>

                <div class="col-lg-6 row row-cols-2">
                    <div class="col">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                             class="w-100 shadow-1-strong rounded "
                             alt="Boat on Calm Water" />
                    </div>
                    <div class="col">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                             class="w-100 shadow-1-strong rounded "
                             alt="Boat on Calm Water" />
                    </div>
                    <div class="col">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                             class="w-100 shadow-1-strong rounded "
                             alt="Boat on Calm Water" />
                    </div>
                    <div class="col">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                             class="w-100 shadow-1-strong rounded"
                             alt="Boat on Calm Water" />
                    </div>
                    
                </div>
                

                
            </div>
        </div>
    </div>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            HotelData:{},
            currenthotelId: @hotelId,
        },
        mounted: function () {
            //this.currenthotelId = this.getUrlParameter('hotelId');
            //this.currenthotelId = JSON.parse(document.getElementById('app').dataset.hotelId);
            this.getData();
            console.log('mounted');
            
        },
        methods: {
            getData: function () {
                let self = this;
                var test = axios.get(`/api/PetHotelAPI/HotelDetail/${this.currenthotelId}`).then(response => {
                    console.log('HotelData:', response.data);
                    self.HotelData = response.data; 
                })
                console.log('getData');
            },

            //getUrlParameter(name) {
            //    const urlParams = new URLSearchParams(window.location.search);
            //    return urlParams.get(name);
            //},
        }

    })
</script>