@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    @*
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet"
          type="text/css" />
    
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/PetHotelCss/HotelMainPageStyles.css" rel="stylesheet" />*@

    <link href="~/css/PetHotelCss/myStyle.css" rel="stylesheet" />
</head>

<div id="app">
    
    <div id="page-top">
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Studio!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                @*<a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>*@
                
            </div>
        </header>
    </div>
    
    <div style="height: 10px;"></div>
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <a class="btn btn-primary" href="#!">Call to Action!</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card One</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Two</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Three</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        </div>
    </div>


    <h1>PetHotelData</h1>
    <table class="table">
        <thead>
            <tr>
                <th>PetHotelId</th>
                <th>HotelCatagoryId</th>
                <th>HotelName</th>
                <th>UnitPrice</th>
                <th>HotelContent</th>
                <th>HotelContentDetail</th>
                <th>HotelImageString</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="data in petHotelDatas">
                <td>{{data.id}}</td>
                <td>{{data.catagoryID}}</td>
                <td>{{data.hotelName}}</td>
                <td>{{data.unitPrice}}</td>
                <td>{{data.hotelContent}}</td>
                <td>{{data.hotelContentDetail}}</td>
                <td>{{data.hotelImage}}</td>

            </tr>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            petHotelDatas: [],
            test: 201,
        },
        mounted: function () {
            this.getData();
            console.log('mounted');
        },
        methods: {
            getData: function () {
                let self = this;
                var test = axios.get('/api/PetHotelAPI').then(response => {
                    self.petHotelDatas = response.data; // Store the fetched data in the component's data property
                })
                console.log('getData');
            }
        }
    })
</script>
