@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    @*
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet"
          type="text/css" />
    
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/PetHotelCss/HotelMainPageStyles.css" rel="stylesheet" />*@

    <link href="~/css/PetHotelCss/myStyle.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <style>
        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .testimonial img{
            max-width: 100%;
            max-height: 100%;
        }

    </style>
</head>

<div id="app">
    
    
    <div class="untree_co-section testimonial-section mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    @*
                    <h2 class="section-title text-center mb-5">Testimonials</h2>
                    *@
                    <div class="owl-single owl-carousel no-nav">

                        <div class="testimonial mx-auto">
                            
                            <div style="height:350px">
                            <img class="img-fluid rounded mb-4 mb-lg-0" 
                                src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
                            </div>
                        </div>
                        <div class="testimonial mx-auto">
                            <div style="height:350px;">
                            <img class="img-fluid rounded mb-4 mb-lg-0"
                                src="https://img.freepik.com/free-photo/beautiful-pet-portrait-small-dog-cat_23-2149218509.jpg" alt="..." />
                            </div>
                        </div>
                        <div class="testimonial mx-auto">
                            <div style="height:350px">
                                <img class="img-fluid rounded mb-4 mb-lg-0"
                                     src="https://img.freepik.com/free-photo/close-up-portrait-beautiful-cat_23-2149214414.jpg" alt="..." />
                            </div>
                        </div>
                        <div class="testimonial mx-auto">
                            <div style="height:350px">
                                <img class="img-fluid rounded mb-4 mb-lg-0" 
                                    src="https://img.freepik.com/free-photo/cute-animals-group-white-background_23-2150038548.jpg" alt="..." />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5 text-center">
                    <div class="mt-5">
                        <h1 class="font-weight-light">Business Name or Tagline</h1>
                        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                        <a class="btn btn-primary" href="#!">Call to Action!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <a class="btn btn-primary" href="#!">Call to Action!</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card One</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Two</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Card Three</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        </div>
    </div>


    <h1>PetHotelData</h1>
    <table class="table">
        <thead>
            <tr>
                <th>PetHotelId</th>
                <th>HotelCatagoryId</th>
                <th>HotelName</th>
                <th>UnitPrice</th>
                <th>HotelContent</th>
                <th>HotelContentDetail</th>
                <th>HotelImageString</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="data in petHotelDatas">
                <td>{{data.id}}</td>
                <td>{{data.catagoryID}}</td>
                <td>{{data.hotelName}}</td>
                <td>{{data.unitPrice}}</td>
                <td>{{data.hotelContent}}</td>
                <td>{{data.hotelContentDetail}}</td>
                <td>{{data.hotelImage}}</td>

            </tr>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            petHotelDatas: [],
            test: 201,
        },
        mounted: function () {
            this.getData();
            console.log('mounted');
        },
        methods: {
            getData: function () {
                let self = this;
                var test = axios.get('/api/PetHotelAPI').then(response => {
                    self.petHotelDatas = response.data; // Store the fetched data in the component's data property
                })
                console.log('getData');
            }
        }
    })
</script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        }
    });
</script>
