@using System.Security.Claims;
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/style.css">

    <style>
        #top {
            margin-top: 81px;
        }

        #header .site-nav {
            min-height: 81px
        }
    </style>
    <title>Pets Daily</title>

    @await RenderSectionAsync("Styles", required: false)
</head>

<body>

    <header id="header">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icofont-close js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <nav class="site-nav">
            <div class="container">
                <div class="site-navigation">
                    <a asp-controller="Home" asp-action="Index" class="logo m-0">PETS DAILY<span class="text-primary">.</span></a>

                    <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
                        <li class="active"><a asp-controller="Home" asp-action="Index">首頁</a></li>
                        <li><a asp-controller="Product" asp-action="Index">寵物商城</a></li>
                        <li class="has-children">
                            <a asp-controller="PetHotel" asp-action="Index">寵物旅館</a>
                            <ul class="dropdown">
                                <li><a asp-controller="" asp-action="">旅館房型</a></li>
                                <li><a asp-controller="" asp-action="">入住時間</a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a asp-controller="PetSalon" asp-action="SalonIndex">寵物美容</a>
                            <ul class="dropdown">
                                
                                <li><a asp-controller="PetSalon" asp-action="Index">調整寵物美容後端</a></li>
                                <li><a asp-controller="PetSalon" asp-action="SalonSolutionCRUD">美容服務CURD</a></li>
                                <li><a asp-controller="PetSalon" asp-action="SalonCRUD">美容項目CURD</a></li>
                                <li><a asp-controller="PetSalon" asp-action="SalonSolutionSalonCRUD">美容服務項目CURD(未完工-需研究開發)</a></li>
                                <li><a asp-controller="PetSalon" asp-action="HotelCRUD">房型CURD</a></li>
                                <li><a asp-controller="PetSalon" asp-action="HotelServiceCRUD">房型服務CURD(未完工-無主鍵)</a></li>
                                <li><a asp-controller="PetSalon" asp-action="HotelServiceHotelCRUD">房型與房型服務CURD(未完工-無主鍵)</a></li>
                                <li><a asp-controller="PetSalon" asp-action="HotelimageCRUD">房型圖片CURD(未完工-無主鍵)</a></li>
                                <li><a asp-controller="PetSalon" asp-action="ProductCRUD">商品CURD</a></li>
                                

                            </ul>
                        </li>
                        

                        @{
                            
                            if (User.Identity.IsAuthenticated)
                            {
                                <li class="has-children">
                                    <a asp-controller="Member" asp-action="Index">會員中心</a>
                                    <ul class="dropdown">
                                        <li><a asp-controller="" asp-action="">會員資料</a></li>
                                        <li><a asp-controller="" asp-action="">安全中心</a></li>
                                        <li><a asp-controller="" asp-action="">寵物資料</a></li>
                                        <li><a asp-controller="" asp-action="">會員福利</a></li>
                                        <li><a asp-controller="" asp-action="">訂單管理</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-controller="Member" asp-action="Logout">會員登出</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-controller="Member" asp-action="Login">會員登入</a>
                                </li>
                            }
                        }


                        <li>
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <span class="nav-link text-capitalize">使用者:@User.Claims.FirstOrDefault(x=> x.Type == ClaimTypes.Name).Value</span>
                                    </li>
                                    <li class="has-children">
                                    <a asp-area="Admin" asp-controller="Employees" asp-action="Productmanagement">員工系統</a>
                                        <ul class="dropdown">
                                            <li><a asp-area="Admin" asp-controller="Employees" asp-action="Productmanagement">商品管理系統</a></li>
                                        </ul>
                                    </li>
                                    <li class=""></li>
                                    <a asp-controller="Employees" asp-action="EmployeeLogout">登出</a>
                                }
                                else
                                {
                                    <li>
                                        <a asp-controller="Employees" asp-action="EmployeeLogin">企業登入</a>
                                    </li>

                                }
                            }

                    </ul>

                    <a asp-controller="" asp-action="" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                        <span></span>
                    </a>

                </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="top">
            @RenderBody()
        </div>

    </main>

    <button id="goToTop">Top</button>

    <div class="site-footer">
        <div class="inner first">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="widget">
                            <h3 class="heading">關於日安</h3>
                            <p>致力為毛孩們提供更好的生活品質，給予陪伴我們的他們最好的呵護。</p>
                        </div>
                        <div class="widget">
                            <ul class="list-unstyled social">
                                <li><a asp-controller="" asp-action=""><span class="icon-twitter"></span></a></li>
                                <li><a asp-controller="" asp-action=""><span class="icon-instagram"></span></a></li>
                                <li><a asp-controller="" asp-action=""><span class="icon-facebook"></span></a></li>
                                <li><a asp-controller="" asp-action=""><span class="icon-linkedin"></span></a></li>
                                <li><a asp-controller="" asp-action=""><span class="icon-dribbble"></span></a></li>
                                <li><a asp-controller="" asp-action=""><span class="icon-pinterest"></span></a></li>
                                <li><a asp-controller="" asp-action=""><span class="icon-apple"></span></a></li>
                                <li><a asp-controller="" asp-action=""><span class="icon-google"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6">
                        <div class="widget">
                            <h3 class="heading">Contact</h3>
                            <ul class="list-unstyled quick-info links">
                                <li class="email"><a href="#">thm101team04@gmail.com</a></li>
                                <li class="phone"><a href="#">+886 987 654 321</a></li>
                                <li class="address"><a href="https://goo.gl/maps/BpxiWM1wBejFiBH8A?coh=178573&entry=tt">寵物 · 日安—台北商業大學旗艦館</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="inner dark">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 mb-3 mb-md-0 mx-auto">
                        <p>
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co" class="link-highlight">Untree.co</a> <!-- License information: https://untree.co/license/ -->Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>

    <script src="~/js/typed.js"></script>
    <script>
        $(function () {
            var slides = $('.slides'),
                images = slides.find('img');

            images.each(function (i) {
                $(this).attr('data-id', i + 1);
            })

            var typed = new Typed('.typed-words', {
                strings: ["Hotel Rooms.", " Salon.", " Selections.", " Health Care."],
                typeSpeed: 80,
                backSpeed: 80,
                backDelay: 4000,
                startDelay: 1000,
                loop: true,
                showCursor: true,
                preStringTyped: (arrayPos, self) => {
                    arrayPos++;
                    console.log(arrayPos);
                    $('.slides img').removeClass('active');
                    $('.slides img[data-id="' + arrayPos + '"]').addClass('active');
                }

            });
        })

        document.addEventListener('DOMContentLoaded', function () {
            var goToTopButton = document.getElementById('goToTop');
            goToTopButton.addEventListener('click', function () {
                window.scrollTo({ top: 0, behavior: 'smooth' });
            });
        });
    </script>


    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>

    <script src="~/js/typed.js"></script>
    <script src="~/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FourthTeamProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@
